    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Czym się zajmujemy?</h2>
            <p class="intro text-center">Nasi specjaliści posiadają co najmniej 10 letnie doświadczenie w branży IT. Wszyscy nasi specjaliści posiadają tytuł zawodowy inżyniera. W czasach internetu wszechrzeczy (IoT) wymagana jest szeroka wiedza z wielu dziedziń takich jak informatyka, telekomunikacja, inżynieria środowiska, energetyka oraz automatyka. Wybierając naszą firmę do stawiacie państwo na doświadczenie i bezpieczeństwo. Na wszystkie nasze realizacje udzielamy 3 letniej gwarancji i pełne bezpłatne wsparcie.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Praca z pasją</h3>
                        <p>Nasze życie zawodowe skupione jest wokół najnowszych technologii. Nasze realizacje wykonywane są w oparciu o naszą pasję takie jak sztuczna inteligencja, inteligentne systemy sterowania, wykorzystywanie zielonych technologii czyli niższe koszty utrzymania gospodarstwa domowego.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Zawsze na czas</h3>
                        <p>Praca z nami to gwarancja realizacji w termnie. Dzięki naszemu wieloletniemu doświadczeniu potrafimy precyzyjnie określić czas realizacji projektu. Zawsze staramy się ustalić taki termin aby być w stanie wyrobić się ze wszystkim wcześniej dzięki czemu nieprzewidziane okoliczności nie powodują opóźnień w realizacji.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Dążenie do perfekcji</h3>
                        <p>Będąc insiderami z branży (wielu naszych specjalistów pracowało w przedsiębiorstwach tworzących najnowsze rozwiązania z dziedziny ICT) potrafimy szybko rozpoznać dane rozwiązanie i ocenić jego przydatność oraz opłacalność. Nasi klienci zawsze wiedzą jakie są dostępne możliwości oraz wszelkie za i przeciw.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Aplikacje Mobilne</h3>
                        <p>Nasi specjaliści mają doświadczenie w pisaniu aplikacji mobilnych na każdą platformę (iOS, Android, Windows Phone), dzięki czemu potrafimy dokonać integracji nawet dla systemów oficjalnie nie kommpatybilnych.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Nietypowe realizacje</h3>
                        <p>Dzięki wieloletniemu doświadczeniu w programowaniu sterowników logicznych (PLC) oraz mikrokontrolerom potrafimy zrealizować dowolną aplikację pod wymagania klienta. Np. wyobraź sobie automatyczne parzenie kawy ze starego ekspresu zaraz po pierwszym dzwonku tradycyjnego nakręcanego budzika. Z nami wszystko jest możliwe.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Wizja lokalna</h3>
                        <p>Przed przystąpieniem do wyceny bezpłatnie przyjedziemy na wizje lokalną i omówimy Państwa wizje dotycząco Waszego przyszłego komfortowego i tańszego w utrzymaniu domu lub mieszkania.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
