<!-- ******Callme****** -->
<section id="callme" class="callme section has-pattern">
    <div class="container">
        <div class="callme-inner">
            <h2 class="title  text-center">Zadzwoń teraz!</h2>
            <p class="intro  text-center">Skontaktuj się wybierając jedną z metod poniżej</p>
            <div class="author-message">
              <div class="speech-bubble">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
              <i class="fa fa-phone">  </i>

              <a href="tel:0048459325175"> Zadzwoń 459 325 175</a>
                </div> <!-- Icon Holder -->
              </div><!-- item Holder -->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
            <i class="fa fa-envelope">  </i>

            <a href="mailto:technoelektro.pl@gmail.com"> technoelektro.pl@gmail.com</a>
              </div> <!-- Icon Holder -->
              </div><!-- item Holder -->
              </div><!-- Speach bubble-->
              </div><!-- Author message -->
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Bądź w kontaktcie</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <!--  <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fa fa-dribbble"></i></a></li> -->
                    <li class="last"><a href="mailto: {{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//callme-->
