    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Kontakt</h2>
                <p class="intro  text-center">Z pasji do ochrony środowiska.<br />Masz pytania nie zwachaj się z nami skontaktować lub zajrzeć na nasze media społecznościowe.</p>
                <div class="author-message">
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}public/images/robotProfile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Chcesz być z nami na bieżąco?</h3>
                        <p>Tweetujemy na temat zielonych technologi #greenenergy oraz technologi Smart Cities i IoT #smartcity related resources/content at <a href="https://twitter.com/technoelektro1" target="_blank">@technoelektro1</a>
                        <p>Jeśli podoba Ci się to co robimy zajrzyj na fecebooka.</p>
                        <p>W razie pytań zapraszamy do kontaktu telefonicznego. Numer dostępny na facebooku.</p>
                        <div class="source">
                            <span class="name"><a href="https://twitter.com/technoelektro1" target="_blank">TechnoElektro</a></span>
                            <br />
                            <span class="title">Smart Home Engineering</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Bądź w kontaktcie</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fa fa-dribbble"></i></a></li>
                        <li class="last"><a href="mailto: {{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
