<!-- ******ELEKTROSMIECI****** -->
<section id="elektrosmieci" class="features section">
    <div class="container text-center">
<div class="block">
    <h3 class="sub-title text-center">Chcesz wyrzucić elektrośmieci?</h3>
    <p>Zgodnie z ustawą z dnia 11 września 2015 roku o zużytym sprzęcie elektrycznym i elektronicznym zakazuje się umieszczania zużytego sprzętu łącznie z innymi odpadami. Musisz pozbyć się zużytej pralki lub lodówki? Zadzwoń do nas a my podjedziemy i przekażemy odebrany od Ciebie sprzęt do podmiotu uprawnionego do zbierania zużytego sprzętu.</p>
    <p class="text-center">
        <a class="btn btn-cta-primary" href="recycling">Zobacz cennik!</a>
    </p>
</div><!--//block-->
</div><!--//container-->
</section><!--//features-->
