<!-- ******ELEKTROSMIECI****** -->
<section id="elektrosmieci" class="features section">
    <div class="container text-center">
    <h2 class="title text-center">Chcesz wyrzucić elektrośmieci?</h2>
    <p>Zgodnie z ustawą z dnia 11 września 2015 roku o zużytym sprzęcie elektrycznym i elektronicznym zakazuje się umieszczania zużytego sprzętu łącznie z innymi odpadami.</p>
      <p>Musisz pozbyć się zużytej pralki lub lodówki? Zadzwoń do nas a my podjedziemy i przekażemy odebrany od Ciebie sprzęt do podmiotu uprawnionego do zbierania zużytego sprzętu.</p>
    <p class="text-center">
        <a class="btn btn-cta-secondary" href="recycling">Zobacz cennik!</a>
    </p>
</div><!--//container-->
</section><!--//features-->
