    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Oferujemy:</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Montaż instalacji elektrycznych</li>
                <li><i class="fa fa-check"></i> Instalacja systemów alarmowych</li>
                <li><i class="fa fa-check"></i> Instalacja automatyki budynkowej</li>
                <li><i class="fa fa-check"></i> Instalacja i projektowanie systemów Smart Home</li>
                <li><i class="fa fa-check"></i> Projektowanie systemów audio</li>
                <li><i class="fa fa-check"></i> Automatyka przemysłowa</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
