<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Podejmiemy się każdego zadania!</h2>
        <div class="block">
            <h3 class="sub-title text-center">Drobne prace elektryczne</h3>
            <p>Brakuje Ci gniazdek elektrycznych? Chciałbyś zmienić rozplanowanie oświetlenia? Chcesz się dowiedzieć jak możesz zmniejszyć koszty utrzymania mieszkania?</p>
            <p>Skontaktuj się już teraz. Umówimy się na spotkanie. Na wizję lokalną przyjedziemy za darmo. </p>
            <ul class="list-unstyled">
                <li><strong>Krótki czas</strong> realizacji</li>
                <li><strong>Bezpłatna</strong> wizja lokalna</li>
                <li><strong>Satysfakcja</strong> gwarantowana</li>
            </ul>

          </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Gwarantowane oszczędności</h3>
            <p>Oferowane rozwiązania z dziedziny Smart Home spowodują że oszczędzanie nigdy nie było tak łatwe. Zdąż przed podwyższkami prądu i zainwestuj w technologie zielonej energii. Pomożemy Ci zdobyć dodatkowe finansowanie projektu.</p>
            </div><!--//block-->


        <div class="block">
            <h3 class="sub-title text-center">Budujesz się?</h3>
            <p>Najlepszym momentem na zapoznanie się z możliwościami technologii Smart Home jest etap projektowania domu lub mieszkania. Pomimo, iż staramy się ograniczać liczbę niezbędnej miedzi w ścianach poprzez stosowanie modułów komunikacji radiowej pamiętaj iż elementy aktywne/wykonawczes systemu potrzebują lini zasilającej.</p>

        </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Chcesz wyrzucić elektrośmieci?</h3>
            <p>Zgodnie z ustawą z dnia 11 września 2015 roku o zużytym sprzęcie elektrycznym i elektronicznym zakazuje się umieszczania zużytego sprzętu łącznie z innymi odpadami. Musisz pozbyć się zużytej pralki lub lodówki? Zadzwoń do nas a my podjedziemy i przekażemy odebrany od Ciebie sprzęt do podmiotu uprawnionego do zbierania zużytego sprzętu.</p>

        </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Chcesz wiedzieć więcej?</h3>
            <p>Skontaktuj się z nami poprzez media społecznościowe lub wyślij nam email z numerem telefonu i krótkim opisem projektu.</p>
            <p class="text-center">
                <a class="btn btn-cta-primary" href="page">Zadzwoń do nas!</a>
            </p>
        </div><!--//block-->

        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
