<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Transport elektronicznego złomu</h2>
        <div class="block">
            <h3 class="sub-title text-center">Nie wiesz jak pozbyć się zużytego sprzętu?</h3>
            <p>Zgodnie z najnowszymi przepisami w zakresie ochrony środowiska, utilizacją zużytego sprzętu elektronicznego mogą się tylko zajmować wyspecjalizowane firmy posiadające odpowiednią decyzję od marszałka województwa.</p>
            <p>Nasi fachowcy przyjadą do Was odebrać stary sprzęt elektroniczny i przekazać go do centrum utylizacji odpadów.</p>
            <ul class="list-unstyled">
                <li><strong>Sprzęt AGD</strong></li>
                <li><strong>Elektronika</strong></li>
                <li><strong>Komputery</strong></li>
                <li><strong>RTV</strong></li>
                <li><strong>Makulatura i złom</strong></li>
            </ul>

          </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Szybko i tanio</h3>
            <p>Zadzwoń już teraz i zapytaj się ile to kosztuje!</p>
            <p>Przyjedziemy o każdej godzinie. Pracujemy 7 dni w tygodniu, przez 24 godziny na dobę.</p>
            </div><!--//block-->


        <div class="block">
            <h3 class="sub-title text-center">Cennik</h3>
            <p>Najlepszym momentem na zapoznanie się z możliwościami technologii Smart Home jest etap projektowania domu lub mieszkania. Pomimo, iż staramy się ograniczać liczbę niezbędnej miedzi w ścianach poprzez stosowanie modułów komunikacji radiowej pamiętaj iż elementy aktywne/wykonawczes systemu potrzebują lini zasilającej.</p>

        </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Chcesz wiedzieć więcej?</h3>
            <p>Skontaktuj się z nami poprzez media społecznościowe lub wyślij nam email z numerem telefonu i krótkim opisem projektu.</p>
            <p class="text-center">
                <a class="btn btn-cta-primary" href="page">Zadzwoń do nas!</a>
            </p>
        </div><!--//block-->

        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
