<!-- ******DOCS****** -->
<section id="docs" class="docs section pricing-table">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Transport elektronicznego złomu</h2>
        <div class="block">
            <h3 class="sub-title text-center">Nie wiesz jak pozbyć się zużytego sprzętu?</h3>
            <p>Zgodnie z najnowszymi przepisami w zakresie ochrony środowiska, utilizacją zużytego sprzętu elektronicznego mogą się tylko zajmować wyspecjalizowane firmy posiadające odpowiednią decyzję od marszałka województwa.</p>
            <p>Nasi fachowcy przyjadą do Was odebrać stary sprzęt elektroniczny i przekazać go do centrum utylizacji odpadów.</p>
            <ul class="list-unstyled">
                <li><strong>Sprzęt AGD</strong></li>
                <li><strong>Elektronika</strong></li>
                <li><strong>Komputery</strong></li>
                <li><strong>RTV</strong></li>
                <li><strong>Makulatura i złom</strong></li>
            </ul>

          </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Szybko i tanio</h3>
            <p>Zadzwoń już teraz i zapytaj się ile to kosztuje!</p>
            <p>Przyjedziemy o każdej godzinie. Pracujemy 7 dni w tygodniu, przez 24 godziny na dobę.</p>
            </div><!--//block-->


        <div class="block">
            <h3 class="sub-title text-center">Cennik</h3>
            <p>Wszystkie ceny podlegają negocjacji!</p>

    <div class="block pricing-table">
      <div class="pricing-option">
        <i class="fa fa-shopping-cart"></i>
        <h1>Tanio</h1>
        <hr />
        <p>Oferujemy podstawową usługę odebrania starego sprzętu elektronicznego. Darmowy przyjazd bo odbiór sprzętu</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">1 <b>PLN</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Zamów</a>
            </div>
        </div>
    </div>

    <div class="pricing-option">
        <i class="fa fa-bolt"></i>
        <h1>Szybko</h1>
        <hr />
        <p>Przyjedziemy niezwłocznie odbrać sprzęt. Jeśli gabaryt jest duży to przyjedziemy z ekipą. Dodatkowo możemy dostarczyć kontener na czas remontu.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">100 <b>PLN</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">zamów</a>
            </div>
        </div>
    </div>

    <div class="pricing-option">
        <i class="fa fa-check"></i>
        <h1>Dobrze</h1>
        <hr />
        <p>Opróżniamy całe mieszkania i ogródki. Odbieramy sprzęt z wnoszeniem.</p>
        <hr />
        <div class="price">
            <div class="front">
                <span class="price">1000 <b>PLN</b></span>
            </div>
            <div class="back">
                <a href="#" class="button">Zamów</a>
            </div>
        </div>
    </div>
</div>

        </div><!--//block-->
        <div class="block">
            <h3 class="sub-title text-center">Chcesz wiedzieć więcej?</h3>
            <p>Skontaktuj się z nami poprzez media społecznościowe lub wyślij nam email z numerem telefonu i krótkim opisem projektu.</p>
            <p class="text-center">
                <a class="btn btn-cta-primary" href="page">Zadzwoń do nas!</a>
            </p>
        </div><!--//block-->

        </div><!--//docs-inner-->
    </div><!--//container-->
</section><!--//docs->
